---
import { Image } from 'astro:assets';
import avatar from '/public/Avatar.png'
import Container from "@components/container.astro";
import Figure from "@components/figure.astro";
import H2 from "@elements/h2.astro";
import P from "@elements/p.astro";
---

<section id="aboutSection">
  <Container>
    <div class="grid grid-cols-1 lg:grid-cols-12 py:10 md:py-36 items-center">
      <div  id="avatar" class="lg:col-start-1 lg:col-end-6 relative  opacity-0 translate-x-[-20px]">
        <div class="invisible lg:visible absolute top-0 left-0 z-[-9999]">
          <Figure />
        </div>
        <div class="p-9 h-96 pt-20 pl-6 flex justify-center lg:block">
          <Image
            src={avatar}
            alt="avatar Juan López"
            loading="lazy"
            class="w-auto h-52 md:h-[260px] md:w-auto"
          />
        </div>
      </div>
      <div class="lg:col-start-7 lg:col-end-13">
        <div
          id="about"
          class="grid md:flex gap-8 md:flex-col lg:justify-center w-full text-center lg:text-left opacity-0 translate-x-[20px]"
        >
          <H2>Sobre mi</H2>
          <P>
            Hola <span class="inline-block animate-greeting">👋🏼</span> soy Juan. Con años de experiencia creando sitios web a medida, mi objetivo es sencillo: desarrollar páginas que cuenten la historia de tu negocio de forma auténtica. Me enfoco en brindar un trato cercano y personalizado, porque sé lo importante que es para ti sentirte acompañado en cada paso. Cuando trabajas conmigo, obtienes más que una web bonita: obtienes una solución diseñada para hacer crecer tu negocio.
          </P>
        </div>
      </div>
    </div>
  </Container>
</section>
