---
import Logo from "@components/logo.astro";
import Nav from "@components/nav.astro";
import Container from "@components/container.astro";
---

<header id="header" class=" relative">
  <div id="header-container" class="py-10 z-40 bg-white ">
  <Container>
      <div id="container-icons" class="flex justify-between w-full">
        <Logo />
        <div>
          <span
          id="iconClose"
          class="z-50 material-symbols-outlined text-3xl cursor-pointer hidden"
          >
            close
          </span>
          <span
          id="iconMenu"
          class="material-symbols-outlined text-3xl cursor-pointer"
          >
            menu
          </span>
        </div>
      </div>
      <div id="nav-container" class="pt-36 hidden">
        <Nav/>
      </div>
    </Container>
  </div>
</header>
