---
import Button from "./button.astro"
import Container from "./container.astro"
import H2 from "@elements/h2.astro"
---

<section class="py-36">
    <Container>
        <div class="flex flex-col gap-10 items-center text-center">
            <H2>Hagamos que tu idea se haga realidad</H2>
            <Button type="sm">Contáctame para un presupuesto sin compromiso</Button>
        </div>
    </Container>   
</section>