---
import Button from "./button.astro"
import Container from "./container.astro"
import H3 from "@elements/h3.astro"
---

<section class="py-36">
    <Container>
        <div class="flex flex-col gap-10 items-center text-center">
            <H3>¿Listo para llevar tu negocio al siguiente nivel?</H3>
            <Button type="sm">Hablemos sobre tu próximo proyecto</Button>
        </div>
    </Container>   
</section>