---
import Button from "./button.astro"
import Container from "./container.astro"
import H3 from "@elements/h3.astro"
---

<section class="py-36">
    <Container>
        <div class="flex flex-col gap-10 items-center text-center">
            <H3>Hagamos que tu idea se haga realidad</H3>
            <Button type="sm">Contáctame para un presupuesto sin compromiso</Button>
        </div>
    </Container>   
</section>