<nav id="nav" class="text-h3Mobile font-medium md:text-r">
  <ul
    class="flex gap-10 items-center md:items-end flex-col text-primary md:flex-row md:text-black"
  >
    <li>Homer</li>
    <li>Acerca de</li>
    <li>Portafolio</li>
    <li>Contacto</li>
  </ul>
</nav>
