---
const { justify } = Astro.props;
---

<ul class=`flex gap-6 justify-${justify}`>
  <li>
    <a> <img width="32px" height="32px" src="/linkedin.png" /></a>
  </li>
  <li>
    <a> <img width="32px" height="32px" src="/instagram.png" /></a>
  </li>
  <li>
    <a> <img width="32px" height="32px" src="/pinterest.png" /></a>
  </li>
  <li>
    <a> <img width="32px" height="32px" src="/behance.png" /></a>
  </li>
</ul>
